<div class="row">
    <div class="col-lg-12">
        <h1>Common Questions You May Have</h1>
<p class="text-warning">What does it mean to seal your criminal history</p>
        <div class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How long would it take to seal my criminal history?</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseOne">
                  <div class="panel-body">
                              <p>Here is a short video that explains the process of sealing. It can take between 4 months to a year.</p><iframe width="560" height="315" src="https://www.youtube.com/embed/jcEu8e9QtZ4" frameborder="0" allowfullscreen></iframe> 
</div></div></div>
<div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What does it mean to seal a DC Criminal Record? How can I learn more about sealing.</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo">
                  <div class="panel-body">
                              <p>
                If a DC criminal record is sealed, the government deletes or limits access to it. A sealed record can generally not be used against you if are applying for a job, in other background checks or in certain legal proceedings. Even after your DC criminal record is sealed, there are certain agencies and employers that CAN still see your record.</p>  
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aUYSwfgy0fk" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
            </div>
    <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How does this site work? Is it only for D.C. Residents?</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseThree">
                  <div class="panel-body">
                              <p>
              This site educations you on whether you should or could seal your record. We also connect you with a free lawyer.  This site is for anyone who has a D.C. criminal history record. If you have never been arrested in D.C., this site won’t be useful to you. 
            </p></div></div></div></div>
<p class="text-warning">Starting the Process of Sealing Your Criminal History</p>
<div class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Who can help me seal my criminal history record? How can they help?</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseFour">
                  <div class="panel-body">
                              <p>
            A lawyer can look at your entire criminal history record and determine what specific arrests or convictions can be sealed. If it turns out that you are eligible to seal part of your criminal history record, a lawyer can also help you draft a motion, which is a letter to the court requesting them to seal part of your criminal history. Even if they can’t write the entire motion for you, they can review it before you submit it to the court. 
            </p>      
                  </div>
                </div>
            </div>
  <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Are you interested in having a lawyer review your record to see what can be sealed? </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseFive">
                  <div class="panel-body">
                              <p>If yes, you can connect with a lawyer for FREE on this site.</p>   
 <a class="btn btn-primary btn-lg" ui-sref="screener">Connect with a Free  Lawyer </a> 
                
                  </div>
                </div>
            </div>     
<div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How can I get in person help to write a motion? </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseSix">
                  <div class="panel-body">
                              <p>The Public Defender Service for the District of Columbia (PDS) assists people with filing these motions. Contact PDS’ Community Reentry Program for more information at 202-824-2801. They accept walk-ins at 680 Rhode Island Ave., NE, Suite H-5, on Mondays, Wednesdays, and Fridays from 9:00am to 4:00pm.</p>
                  </div>
                   </div>
                    </div> </div>

<p class="text-warning">What are other options outside of sealing my record</p>
<div class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Is there anything that can prevent  an employer from asking about my criminal record on an application?</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseSeven">
                  <div class="panel-body">
                              <p>Employers are able to ask.BUT, a law was passed in 2014 whereby an employer should not be asking about your criminal history record. You can also report that employer; watch the video to find out how. This law does not apply to all employers. So you should watch the video to find out how.  </p>

   <p>Below is the  "How the Law Works" video assist returning citizens who believe the law has been or is being violated by an employer.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/kvyfA9NSlGM" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
            </div>  
 <div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Are there others who simply disclose their record versus trying to seal their record?</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseEight">
                  <div class="panel-body">
                              <p>Yes. Contact us to get connected with other returning citizens who disclose their criminal history record and how they target employers who will hire individuals who have criminal records. 
            </p>      
                  </div>
                </div>
            </div>
                        </div></div></div>
    

            
          
        
