<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Succeed WITH a Criminal History Record</h1>
                <p>
                    This is a resource to assist users in succeeding with a criminal record.
                </p>
                    <div class="row">
                <div class="col-sm-6 col-md-6" style="text-align: center;">
        <img src="img/13.jpg" class="img-responsive"/>
            <a class="btn btn-primary btn-lg" ui-sref="faqs">Should I Disclose or Seal My Record?</a> 
      </div>
                <div class="col-sm-6 col-md-6" style="text-align: center;">
        <img src="img/14.jpg" class="img-responsive"/>
            <a class="btn btn-primary btn-lg" ui-sref="screener">Determine My Eligibility to Seal My Record</a> 
        </div>
    </div>
  </div>
</div>
    </div>
  </div>

