<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Succeed WITH a Criminal History Record</h1>
                <p>
                    This is a resource to assist users in succeeding with a criminal record.
                </p>
                    <div class="row">
                <div class="col-sm-6 col-md-6" style="text-align: center;">
        <img src="img/one.jpg" class="img-responsive"/>
            <a class="btn btn-primary btn-lg" ui-sref="screener">Should I Disclose or Seal My Record?</a> 
        <p>If you are looking to find or seal items on your personal record</p>
      </div>
                <div class="col-sm-6 col-md-6" style="text-align: center;">
        <img src="img/two.jpg" class="img-responsive"/>
            <a class="btn btn-primary btn-lg" ui-sref="screener">Determine My Eligibility to Seal My Record</a> 
        <p>If you are looking to find or seal items on your personal record
         Sealing your record takes time. It is a not a quick process. It can take up to four months and not everyone is eligbile. 
     </p></div>
    </div>
  </div>
</div>
    </div>
  </div>

